.table{
    max-width: 75%;
    margin-left: 12.5%;
}
.table-h1{
    width: 5%;
    
}
.table-h2{
    width: 20%;
}
.table-h3{
    width: 20%;
}
.table-h4{
    width:20%;
}
.table-h5{
    width:20%;
}
.table-h6{
    width:10%;
}
/* Add this CSS to your existing CSS file or create a new one */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #F0FFFF;
    padding: 20px;
    border-radius: 10px;
    width: 400px; /* Adjust the width as needed */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Add this CSS to your existing CSS file or create a new one */
.modal-container {
    position: relative;
    display: flex;
    justify-content: flex-end; /* Position the modal to the right */
    height: 100%; /* Ensure the modal container takes up the full height */
  }
  
  .scrollable-content {
    max-height: 300px; /* Set a maximum height for the scrollable content */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    margin-bottom: 10px; /* Add some margin to separate it from other content */
  }
  